.slide-enter, .slide-appear {
    &-active {
        animation: slide 300ms ease-in-out;
    }
}

.slide-leave-active {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateY(-15px);
    }
}